.ButtonsGroup{
    background: #ccc;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.ButtonsGroup button{
    margin:1rem;
}

.nav-link{
    text-align: left ;
    background-color: green;

}
.name {
    text-align: left;
}
