body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

/*GLOBAL*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    padding: 0;
    margin: 0;
}
.button_1{
    height: 38px;
    background-color:#e8491d;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    cursor: pointer;

}
.button_1 a:hover{
    color: orange;
}
.dark{
    padding: 15px;
    background: #35424e;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;

}

/*HEADER*/
header{
background-color: #35424a;
    color: white;
    padding-top: 30px;
        min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float: left;
    padding: 0 20px 0 20px;
    display: inline;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header  .highlighter, header .current a {
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/*SHOWCASE*/
#showcase{
    background: url("./img/showcase.jpg") no-repeat 0 -400px;
    color: white;
    text-align: center;
    min-height: 400px;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}

/*NEWSLETTER*/

#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}
#newsletter h1{
    float: left;
}
#newsletter form{
    float:right;
    padding: 15px;
}
#newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
}

/*BOXES*/

#boxes{
margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
}
#boxes .box img{
    width:90px;
}

/*SIDEBAR*/
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
/*MAIN-COL*/
article#main-col{
    float: left;
    width: 65%;
}

/*SERVICES*/
ul#services{
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    background: grey;
}

/*FOOTER*/
footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #e8491d;
    text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float:none;
        text-align:center;
        width:100%;
    }

    header{
        padding-bottom:20px;
    }

    #showcase h1{
        margin-top:40px;
    }

    #newsletter button, .quote button{
        display:block;
        width:100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width:100%;
        margin-bottom:5px;
    }
}






















































