body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.modal.my-class {
  display: block;
  background-color: rgba(0,0,0,0.5);
}
.my-card{
  width: 250px;
  height: 430px;
  border: 2px solid grey;
  margin: 15px;
}
.img{
  width: 248px;
  height: 200px;
  margin-top: -20px;
  margin-left: -20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.starPosition{
  font-size: 25px;
  color: green;
  position: absolute;
  bottom: 190px;
  right: 10px;
  cursor: pointer;
}
h1{
  text-align: center;
  color: #4bcaff;
  border: 1px solid black;
}