.Modal{
    position: fixed;
    padding: 2rem 3rem;
    width: 400px;
    background: #333;
    color: white;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    border-radius: 6px;
}

.Modal i{
    font-size: 30px;
    cursor: pointer;
}


@media(max-width:400px){
    .Modal{

        width: 300px;
    }
    .modalButtons{
        display: flex;
        padding: 0;
    }
}
.text{
    text-align: center;
    margin: 20px;
}
.color1{
    color: red;
}


